apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ res.name }}
  namespace: {{ data.namespace_name }}
  labels:
    app.kubernetes.io/name: {{ res.app_name | default(res.name) }}
    app.kubernetes.io/instance: {{ res.instance | default(res.name) }}
    env: {{ env }}
{% if res.annotations %}
  annotations:
{% for k, v in res.annotations | dictsort %}
    {{ k }}: "{{ v }}"
{% endfor %}
{% endif %}
