- kind: deployment
  name: sage
  app_name: sage
  instance: sage
  image: example.invalid/ml/sage:1
  replicas: 1
  port: 80
  container_name: sage
- kind: deployment
  name: switchboard
  app_name: switchboard
  instance: switchboard
  image: example.invalid/ml/switchboard:1
  replicas: 1
  port: 80
  container_name: switchboard
- kind: deployment
  name: trainer
  app_name: trainer
  instance: trainer
  image: example.invalid/ml/trainer:1
  replicas: 1
  port: 80
  container_name: trainer
