{% import "_macros.yaml.j2" as m %}
apiVersion: apps/v1
kind: DaemonSet
{{ m.metadata(res, env, res.namespace | default(data.namespace_name), none) }}
spec:
  updateStrategy:
    type: {{ res.update_strategy | default("RollingUpdate") }}
{% if res.min_ready_seconds is defined %}
  minReadySeconds: {{ res.min_ready_seconds }}
{% endif %}
  selector:
    matchLabels:
{{ m.match_labels(res, env) | indent(6, true) }}
  template:
{{ m.pod_template(res, env, none) | indent(4, true) }}
