apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ res.name }}
  namespace: {{ data.namespace_name }}
  labels:
    app.kubernetes.io/managed-by: custom-tool
    env: {{ env }}
  annotations:
    # cert-manager annotation for automatic certificate
{% if res.issuer_name is defined and res.issuer_name %}
    cert-manager.io/cluster-issuer: {{ res.issuer_name }}
{% endif %}
{% if res.force_ssl_redirect is defined %}
    nginx.ingress.kubernetes.io/force-ssl-redirect: "{{ res.force_ssl_redirect }}"
{% endif %}
{% if res.annotations is defined %}
{% for k, v in res.annotations | dictsort %}
    {{ k }}: "{{ v }}"
{% endfor %}
{% endif %}
spec:
  ingressClassName: nginx
{% if res.secret_name is defined and res.secret_name %}
  tls:
    - hosts:
{% for route in res.routes %}
        - {{ route.host }}
{% endfor %}
      secretName: {{ res.secret_name }}-tls
{% endif %}
  rules:
{% for route in res.routes %}
    - host: {{ route.host }}
      http:
        paths:
{% for path in route.paths %}
          - path: {{ path.path }}
            pathType: {{ path.type | default('Prefix') }}
            backend:
              service:
                name: {{ path.service_name }}
                port:
                  number: {{ path.service_port }}
{% endfor %}
{% endfor %}
