{% import "_macros.yaml.j2" as m %}
apiVersion: v1
kind: Secret
{{ m.metadata(res, env, res.namespace | default(data.namespace_name), none) }}
type: {{ res.type | default("Opaque") }}
{% if res.immutable_data is defined %}
immutable: {{ res.immutable_data }}
{% endif %}
{% if res.string_data %}
stringData:
{% for k, v in res.string_data | dictsort %}
{% if "\n" in v %}
  {{ k }}: |
    {{ v | indent(4) }}
{% else %}
  {{ k }}: '{{ v | replace("'", "''") }}'
{% endif %}
{% endfor %}
{% endif %}
{% if res.data %}
data:
{% for k, v in res.data | dictsort %}
  {{ k }}: {{ v }}
{% endfor %}
{% endif %}
